*
{
    box-sizing: border-box;
}

.body
{
    margin: 0;
    overflow: hidden;
}

.section
{
    display: flex;
    background: hsl(185, 75%, 39%);
    height: 100vh;
    align-items: center;
    justify-content: center;
}


.card::before {
  content: '';
  position:absolute;
  top: -190%;
  left: -250%;
  width: 300%;
  height: 300%;
  background: url(images/bg-pattern-top.svg) no-repeat;
  z-index: -1;
}


.card::after {
  content: '';
  position:absolute;
  bottom :0px;
  top: 50%;
  left: 40%;
  width: 300%;
  height: 300%;
  background: url(images/bg-pattern-bottom.svg) no-repeat;
  z-index: -1;
}

.card
{
  position: relative;

    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 325px;

    text-align: center;
    border-radius: 15px 15px;
    color: hsl(0, 0%, 45%);
    box-shadow: 0px 20px 100px -30px hsl(229, 23%, 23%);
    z-index: 0;
}

.card-photo
{
    position: relative;
    height: 140px;
    margin: 0;
    padding: 0;

    border-radius: 15px 15px 0 0;
    background: url(images/bg-pattern-card.svg);
}

.card-photo img
{
    position: absolute;
    top: 88px;
    left: 110px;

    border: 5px solid #fff;
    border-radius: 50%;
}

.card-ident
{
    height: 145px;
    padding: 40px 0;

    border-bottom: 1px solid hsl(0, 0%, 90%);
    background: #fff;
}

.card-name
{
    margin-top: 35px;
}

.card-title
{
    font-weight: 700;

    color: hsl(0, 0%, 20%);
}

.card-loc
{
    font-size: .9rem;

    padding-top: 10px;
}

.card-stats
{
    display: flex;

    margin: 0;
    padding: 25px;

    border-radius: 0 0 15px 15px;
    background: #fff;

    justify-content: space-between;
}

.column
{
    width: 33.33%;
}

.column .card-title
{
    padding-top: 5px;
}
.stats-text
{
    font-size: .6rem;

    margin-top: 5px;

    letter-spacing: 2px;
}


